@import "_base";

@each $title in cbby, jypt, cwjy, hqtb, qkcx, qbgj, mtzx, ltqz, sjks, zcfb, wkxg, lhjy, zsjd {
  .#{$title}-icon {
    background-image: url(#{$img-root}#{$title}.png) !important;
  }
}

.m-part {
  margin-bottom: 20px;
  background: #fff;

  .m-head {
    border-bottom: 1px solid #eaeaea;
  }
  .m-title {
    $h: 60px;
    height: $h;
    line-height: $h;
  }
  .m-link {
    float: left;
    margin-left: 20px;
    padding-left: 36px;
    color: $theme;
    font-size: 18px;
    @include icon(promotion, left);
    text-indent: 0;
  }
  .c-list {
    margin: 12px 32px 0;
  }
  .c-item {
    float: left;
    width: 208px;
    margin: 0 8px 12px;
  }
  .c-link {
    display: block;
    padding: 20px 14px 12px;
    &:hover {
      background: #f9f9f9;
    }
  }

  .c-pic {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-right: 12px;
  }
  .c-title {
    color: #4ed29c;
  }
  .c-desc {
    $font: 12px;
    font-size: $font;
    margin-top: 9px;
    @extend .text-justify;
    @include clamp($font, 2);
  }
}
